@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #fafafa;
  --background-color-dark: #1a202c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-light: #1a202c;
    --background-color-dark: #fafafa;
  }
}

body {
  background-color: var(--background-color-light);
  color: var(--foreground-rgb, #000000);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--foreground-rgb, #333333);
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.toast-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.toast-wrapper {
  background: #333;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: auto;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}

.toast-body {
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}